{% load account_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
        <div
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
            <a
                    href="/"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
                <svg
                        class="bi me-2"
                        width="40"
                        height="32"
                        role="img"
                        aria-label="Bootstrap"
                >
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul
                    class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
                <li class="border-end">
                    <a href="{% url 'home' %}" class="nav-link px-12 fs-4 text-white">My book</a>
                </li>
                <li class="border-end">
                    <a href="/search" class="nav-link px-12 fs-4 text-white">Search</a>
                </li>
                <li>
                    <a href="/add_book" class="nav-link px-12 fs-4 text-white">Add book</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="text-end">
                <button type="button" class="btn btn btn-outline-warning me-2">
                    {{user.username}}
                </button>
                <button type="button" class="btn btn-warning">Logout</button>
            </div>
            {% else %}
            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">
                    Login
                </button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
            {% endif %}
        </div>
    </div>
</header>
{% block sidebar %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 border-end">
            <ul class="nav box-shadow nav-pills flex-column sidebar my-5 fs-5">
                {% if request|is_current_page:'/' %}
                <li class="nav-item">
                    <a
                            class="nav-link disabled bg-dark text-white"
                            aria-current="page"
                            href="{% url 'home' %}"
                    >My book</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none link-dark" href="{% url 'home' %}"
                    >My book</a
                    >
                </li>
                {% endif %}
                {% if request|is_current_page:'/status/favorites' %}
                <li class="nav-item">
                    <a
                            class="nav-link disabled bg-dark text-white"
                            aria-current="page"
                            href="{% url 'favorites' %}"
                    >Favorites</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none link-dark" href="{% url 'favorites' %}"
                    >Favorites</a
                    >
                </li>
                {% endif %}
                {% for s in side_bar %}
                {% if s.pk == status_selected %}
                <li class="nav-item">
                    <a
                            class="nav-link disabled bg-dark text-white"
                            aria-current="page"
                            href="{{ s.get_absolute_url }}"
                    >{{ s.status_name }}</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-decoration-none link-dark" href="{{ s.get_absolute_url }}"
                    > {{ s.status_name }} </a
                    >
                </li>
                {% endif %}


        {% endfor %}
            </ul>
        </div>
        {% endblock %}
        <div class="col">
            {% block content %}
            {% endblock %}
        </div>
</body>
</html>
