{% extends 'account/base.html' %}


{% block content %}
<div class="container my-5">
    <h2 class="text-decoration-none my-5">{{ title }}</h2>
    <div class="row row-col-1 row-col-md-2 row-col-lg-3">
        {% if sorted_book %} {% for user_book in sorted_book %}
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                                src="{{user_book.book.thumbnail}}"
                                class="img-fluid rounded-start"
                                alt="..."
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ user_book.book.title }}</h5>
                            <p class="card-text text-muted">
                                {{ user_book.book.author }}
                                {{ user_book.book.publishedDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">No books in this bookshelf yet.</p>
                    <a href="#" class="btn btn-dark">Add book</a>
                </div>
            </div>
        </div>

        {% endif %}
        {% endblock %}